<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwm.one.hr.personnel.dao.BxPersonnelDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gwm.one.model.hr.personnel.BxPersonnel">
        <id column="id" property="id" />
        <result column="P_PersonnelID" property="pPersonnelid" />
        <result column="Accounts" property="Accounts" />
        <result column="IsStop" property="IsStop" />
        <result column="InsuranceType" property="InsuranceType" />
        <result column="InsuranceDate" property="InsuranceDate" />
        <result column="B_remark" property="bRemark" />
        <result column="insureID" property="insureID" />
        <result column="MedicalTreatmentRadix" property="MedicalTreatmentRadix" />
    </resultMap>

</mapper>
